{% extends 'base.html' %}

{% block style %}
    @media only screen and (min-width: 981px) {
        div#content {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 2fr 1fr;
        }
        div#halfLeft {
            grid-column: 1 / 2;
            grid-row: 1/2;
        }
        div#halfRight {
            style="grid-column: 2 / 3;
            grid-row: 1/2;
        }
    }
{% endblock %}

{% block content %}
<div style="height:0; width:0; margin-top:-5.8rem; margin-bottom:2rem;">
    <p style="font-size:3.8rem; color:rgba(127,127,127,0.15)">PolarCloud</p>
</div>
<nav id="pagenav">
</nav>
<div id="content">
    <div id="halfLeft">
        <h2>Start</h2>
        <label for="searchQuick()">Suche:</label>
        <input type="text" id="searchQuick" autocomplete="off" autofocus oninput="searchQuick()"></input>
        <!--TODO: implement server-side full-text search<button onclick="searchFull()">Volltext Suche</button>-->
        <div id="searchResults"></div>
    </div>
    <div id="halfRight">
        <p>loading file tree...</p>
    </div>
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>
<script>
    var filelist = {{ filelist|safe }};
    var relroot = '{{ relroot }}';
    function renderFiletree(tree, subpath) {
        var result = '';
        Object.keys(tree).forEach(function(key) {
            if (key == '.') {
                Object.keys(tree["."]).forEach(function(subkey) {
                    var value = tree["."][subkey];
                    result += '<li>'
                    result += '<a href="'+subpath+value.name+value.ext+'">'+value.name+value.ext+'</a>'
                    result += '</li>\n';
                });
            } else {
                result += '<li>';
                result += '<details><summary>'+key+' <a href="'+relroot+'_new/'+subpath+key+'">&CirclePlus;</a></summary><ul>';
                result += renderFiletree(tree[key], subpath+key+'/');
                result += '</ul></details></li>\n';
            }
        });
        return result;
    }
    function loadFilelist() {
        var result = '<h2>Seiten</h2><ul>\n';
        result += renderFiletree(filelist, '');
        result += '</ul>\n';
        halfRight = document.getElementById('halfRight');
        halfRight.innerHTML = result;
    }
    loadFilelist();
    function findWord(word, dict, path) {
        var result = [];
        for (item in dict) {
            if (item == '.') {
                for (item in dict['.']) {
                    if (item.toLowerCase().includes(word)) {
                        result.push([path, item]);
                    }
                }
            } else {
                result = [].concat(result, findWord(word, dict[item], path+item+'/'));
            }
        }
        return result;
    }
    function searchQuick() {
        //console.log(filelist);
        var word = document.getElementById('searchQuick').value.toLowerCase();
        if (word.length >= 3) {
            var list = findWord(word, filelist, '');
            //console.log(list);
            var out = '<h3>Ergebnisse:</h3>'
            out += '<ul>';
            for (var i = 0; i < list.length; i++) {
                out += '<li><a href="{{ relroot }}'+list[i][0]+list[i][1]+'">'+list[i][0]+list[i][1]+'</a></li>';
            }
            out += '</ul>';
            out += '<p>TODO: Include keywords/meta in the search</p>';
        } else if (word.length > 0) {
            var out = '(mindestens 3 Buchstaben zur Suche nötig)';
        } else {
            var out = '';
        }
        document.getElementById('searchResults').innerHTML = out;
    }
</script>
{% endblock %}
