{% extends 'base.html' %}

{% block style %}
    @media only screen and (min-width: 981px) {
        div#content {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 2fr 1fr;
        }
        div#halfLeft {
            grid-column: 1 / 2;
            grid-row: 1/2;
        }
        div#halfRight {
            style="grid-column: 2 / 3;
            grid-row: 1/2;
        }
    }
{% endblock %}

{% block content %}
<div style="height:0; width:0; margin-top:-5.8rem; margin-bottom:2rem;">
    <p style="font-size:3.8rem; color:rgba(127,127,127,0.15)">PolarCloud</p>
</div>
<nav id="pagenav">
</nav>
<div id="content">
    <div id="halfRight">
        <p>loading file tree...</p>
    </div>
    <div id="halfLeft">
        <h2>Start</h2>
        <p>TODO: Implement a search form here</p>
    </div>
</div>

<script src="{{ relroot }}static/getFormJson.js"></script>
<script src="{{ relroot }}static/polalert.js"></script>
<script>
    var filelist = {{ filelist|safe }};
    function renderFiletree(tree, subpath) {
        var result = '';
        Object.keys(tree).forEach(function(key) {
            if (key == '.') {
                Object.keys(tree["."]).forEach(function(subkey) {
                    var value = tree["."][subkey];
                    result += '<li>'
                    result += '<a href="'+subpath+value.name+value.ext+'">'+value.name+'</a>'
                    result += '</li>\n';
                });
            } else {
                result += '<li>';
                result += '<details><summary>'+key+' <a href="/_new/'+subpath+key+'">&CirclePlus;</a></summary><ul>';
                result += renderFiletree(tree[key], subpath+key+'/');
                result += '</ul></details></li>\n';
            }
        });
        return result;
    }
    function loadFilelist() {
        var result = '<h2>Seiten</h2><ul>\n';
        result += renderFiletree(filelist, '');
        result += '</ul>\n';
        halfRight = document.getElementById('halfRight');
        halfRight.innerHTML = result;
    }
    loadFilelist();
</script>
{% endblock %}
