{% extends 'base.html' %}

{% block content %}
<code>{{ path }}</code>
<nav id="pagenav">
</nav>
<div id="content">
<h1>New Content</h1>
<div style="clear:both;" id="dtype">
    <h3>Type</h3>
    <select name="type" id="type" onchange="changeType()">
        <option value="mdtex" selected>mdtex</option>
        <option value="svg">svg</option>
        <option value="file">file upload</option>
        <option value="imgUrl">image url upload</option>
        <option value="folder">folder</option>
    </select>
</div>
<div style="clear:both;" id="dname"><h3>Name: </h3><input type="text" id="name"></div>
<h3>Content:</h3>
<div style="clear:both;" id="dsource"><textarea path="source" id="source" class="formdata" rows="20"></textarea></div>
<div style="clear:both;"><input type="file" id="file" name="file" style="display: none;" /></div>
<div style="clear:both;" id="imgUrlOption" style="display:none">
    <p>Image-URL-Upload</p><input type="text" id="imgUrl" >
    <img id="imgUrlUpload" src="#" alt="url upload image" style="display:block;" />
    <button onclick="imgUrlUpload()">Load Image</button>
</div>
<label for="description">Description:</label>
<textarea name="description" id="description" class="formdata" rows="5"></textarea>
<label for="keywords">Keywords:</label>
<textarea name="keywords" id="keywords" class="formdata" rows="2"></textarea>
<div style="clear:both;"><input type="submit" value="Save" onclick="save()"></div>
</div>

<script>
    var path = '{{ path }}';
    var relroot = '{{ relroot }}';
    var createUrl = relroot+'_createContent/'+path;
    var uploadUrl = relroot+'_uploadFile/'+path;
    
    function changeType(){
        var defaultSvg = '<svg width="600" height="400" viewBox="0 0 600 400"\n'
        defaultSvg += '    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"\n'
        defaultSvg += '    style="background-color:rgba(255,255,255,0.5)">\n\n';
        defaultSvg += '</svg>';
        type = document.getElementById('type').value;
        if (type=='mdtex'){
            document.getElementById('dsource').style.display = 'block';
            document.getElementById('file').style.display = 'none';
            document.getElementById('imgUrlOption').style.display = 'none';
            document.getElementById('description').style.display = 'block';
            document.getElementById('keywords').style.display = 'block';
            document.getElementById('source').value = '';
        } else if (type=='svg'){
            document.getElementById('dsource').style.display = 'block';
            document.getElementById('file').style.display = 'none';
            document.getElementById('imgUrlOption').style.display = 'none';
            document.getElementById('description').style.display = 'block';
            document.getElementById('keywords').style.display = 'block';
            document.getElementById('source').value = defaultSvg;
        } else if (type=='file'){
            document.getElementById('dsource').style.display = 'none';
            document.getElementById('file').style.display = 'block';
            document.getElementById('imgUrlOption').style.display = 'none';
            document.getElementById('description').style.display = 'block';
            document.getElementById('keywords').style.display = 'block';
        } else if (type=='imgUrl'){
            document.getElementById('dsource').style.display = 'none';
            document.getElementById('file').style.display = 'none';
            document.getElementById('imgUrlOption').style.display = 'block';
            document.getElementById('description').style.display = 'block';
            document.getElementById('keywords').style.display = 'block';
        } else if (type=='folder'){
            document.getElementById('dsource').style.display = 'none';
            document.getElementById('file').style.display = 'none';
            document.getElementById('imgUrlOption').style.display = 'none';
            document.getElementById('description').style.display = 'none';
            document.getElementById('keywords').style.display = 'none';
        }
    }
    
    var imgUrlFile;
    function imgUrlUpload() {
        var url = document.getElementById('imgUrl').value;
        var imgPreview = document.getElementById('imgUrlUpload');
        var xhr = new XMLHttpRequest();
        xhr.onload = function() {
            //var reader = new FileReader();
            //var img = reader.readAsDataURL(xhr.response);
            var img = xhr.response;
            var filename = url.split('/').pop()
            imgUrlFile = new File([xhr.response], filename, {type: img.type,});
        };
        xhr.open('GET', url);
        xhr.responseType = 'blob';
        xhr.send();
        imgPreview.src = url;
    }
    
    async function save() {
        var type = document.getElementById('type').value;
        var name = document.getElementById('name').value; // TODO: Check if valid filename (compare to python-implementation)
        var description = document.getElementById('description').value;
        var keywords = document.getElementById('keywords').value;
        var send = {};
        send['type'] = type;
        send['name'] = name;
        send['description'] = description;
        send['keywords'] = keywords;
        if (type != 'file' && type != 'imgUrl') {
            var source = document.getElementById('source').value;
            send['source'] = source;
            const response = await fetch(createUrl, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(send)
            });
            response.text().then(function (text) {
                window.location.href = relroot+text;
            });
        } else {
            var formData = new FormData();
            if (type == 'file') {
                var file = document.getElementById('file').files[0];
            }
            else {
                var file=imgUrlFile;
            }
            send['type'] = 'file';
            formData.append('name', name);
            formData.append('description', description);
            formData.append('keywords', keywords);
            formData.append('file', file);
            const response = await fetch(uploadUrl, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                body: formData
            });
            response.text().then(function (text) {
                window.location.href = relroot+text;
            });
        }
    }    
</script>
{% endblock %}

