{% extends 'base.html' %}

{% block content %}
<code>{{ path }}</code>
<nav id="pagenav">
    <a onclick="pa.input('Rename to:');">rename</a> | 
    <a onclick="pa.boolean('! WARNING !<br />really delete?', 'delete');">delete</a>
</nav>
<div id="content">
{{ content|safe }}
</div>

<script src="{{ relroot }}_static/polalert.js"></script>
<script>
    var path = '{{ path }}';
    var relroot = '{{ relroot }}';
    var deleteUrl = '{{ relroot }}_delete/{{ path }}';
    
    function paOk(str) {
        if (str == 'delete') {
            deletePage();
        }
    }
    function paNo(str) {
        pa.message('No worries, nothing happened!');
    }
    async function deletePage() {
        const response = await fetch(deleteUrl, {
            method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
        });
        response.text().then(function (text) {
            if (text=='0'){
                window.location.href = relroot;
            } else {
                pa.error('ERROR: <br />'+text);
            }
        });
    }
    async function paInputReceive(inputtext) {
        if (inputtext != false) {
            var moveUrl = relroot+'_move/'+path;
            var dest = path.substring(0, path.lastIndexOf('/', -1));
            var filename = inputtext+path.substring(path.lastIndexOf('/'));
            var m = {'filePath':moveUrl, 'destPath':dest, filename:filename};
            const response = await fetch(moveUrl, {
                method: 'PUT', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: JSON.stringify(m)
            });
            response.text().then(function (text) {
                if (text=='0'){
                    window.location.href = relroot+'/';
                } else {
                    pa.error('ERROR: <br />'+text);
                }
            });
        }
    }
</script>
{% endblock %}
