{% extends 'base.html' %}

{% block content %}
<code>{{ path }}</code>
<nav id="pagenav">
    <a onclick="edit()">Edit</a>
</nav>
<div id="content">
{{ content|safe }}
</div>

<script>
    var path = '{{ path }}';
    var sourceUrl = '{{ relroot }}getSource/{{ path }}';
    var updateUrl = '{{ relroot }}updatePage/{{ path }}';
    
    const edit = async () => {
        const response = await fetch(sourceUrl);
        const source = await response.text();
        content = '<div style="clear:both;"><textarea path="source" id="source" class="formdata">\n';
        content = content+source+'\n';
        content = content+'</textarea></div>';
        content = content+'<div style="clear:both;"><input type="submit" value="Speichern" onclick="save()"></div>\n';
        document.getElementById('content').innerHTML = content;
    }
    async function save() {
        const response = await fetch(updateUrl, {
            method: 'PUT', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'text/plain'
            },
            body: document.getElementById('source').value
        });
        location.reload();
        //return response.json(); // parses JSON response into native JavaScript objects
    }    
</script>
{% endblock %}

